// Utility classes as needed

.display\:none {
  display: none;
}

.text-align\:center {
  text-align: center;
}

.max-width\:measure {
  max-width: $measure;
}

.justify-content\:center {
  justify-content: center;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.align-items\:flex-end {
  align-items: flex-end;
}

.align-items\:baseline {
  align-items: baseline;
}

.align-items\:center {
  align-items: center;
}

.overflow\:visible {
  overflow: visible;
}

@media (any-hover: hover) {
  .blurred {
    position: relative;
    filter: blur(5px);
    transition: filter 0.5s linear;

    &:hover {
      filter: blur(0);
      transition: filter 0.5s linear;
    }

    &::before {
      z-index: 15;
      content: "Hover to reveal";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
