.reel {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-color: $color-lightest $color-darkest;
    scroll-padding: $s1;

    padding-bottom: 1rem;
}

.reel::-webkit-scrollbar {
    block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
    background-color: $color-darkest;
    padding: 1rem;
}

.reel::-webkit-scrollbar-thumb {
    background-color: $color-darkest;
    background-image: linear-gradient(180deg, $color-darkest 0, $color-darkest 0.25rem, $color-lightest 0.25rem, $color-lightest 0.75rem, $color-darkest 0.75rem);
  }

.reel > * {
    flex: 0 0 20rem;
    align-content: stretch;
}

.reel > img {
    block-size: 100%;
    flex-basis: auto;
    width: auto;
}

.reel > * + * {
    margin-inline-start: 1rem;
    margin-left: 1rem;
}

.reel.overflowing {
    padding-block-end: 5rem;
}