<section id="about" class="page-section fadeinup" data-scroll>
    <div class="stack s1">
        <h2>About Me</h2>
        <div class="switcher">
            <div class="wrapper">
                <div class="about-text stack">
                    <p>Hello! I'm Alex, a web developer based in New York, NY who enjoys coding up creative solutions to
                        a variety of problems. I have an undergraduate degree in Mathematics and Philosophy from Boston
                        University where I also minored in computer science, and hold a master's degree in Integrated
                        Digital Media from New York University.
                    </p>
                    <p>Shortly after graduating from NYU, I founded Unseen Media alongside Casey Judge and Brian Hui and
                        we set out to bring the latest immersive technologies to tabletop gaming. Our journey was quite
                        interesting, starting with our participation in the NYU Prototyping Fund and the RLab XR
                        Bootcamp, later resulting in our selection for the RLab Beta Residency, and our partnership with
                        BEL Unified.
                    </p>
                    <p>
                        I am the lead developer in Unseen Media, although that's just a title. I'm always learning,
                        looking for ways to grow, and I try to walk the cutting edge of tech as often as possible. As a
                        result of our mission to level up tabletop gaming, my skillset is wide and varied but here are
                        some of the technologies I've been working with most recently:
                    </p>
                    <div class="switcher">
                        <div class="wrapper small">
                            <div class="stack">
                                <span class="accent pre">Javascript (ES6+)</span>
                                <span class="accent pre">Vue.js</span>
                                <span class="accent pre">11ty</span>
                                <span class="accent pre">A-frame</span>
                            </div>
                            <div class="stack">
                                <span class="accent pre">HTML & (S)CSS</span>
                                <span class="accent pre">Node.js</span>
                                <span class="accent pre">Netlify</span>
                                <span class="accent pre">8th Wall</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-pic stack s1">
                    {% Image "static/media/about_0.jpg", true, true, true, true %}
                </div>
            </div>
        </div>
    </div>
</section>