<section id="about" class="page-section fadeinup" data-scroll>
    <div class="stack s1">
        <h2>About Me</h2>
        <div class="switcher">
            <div class="wrapper">
                <div class="about-text stack">
                    <p>I am a web developer and creative technologist based in New York, NY who enjoys thinking out of
                        the box and coding up creative solutions to
                        a variety of problems. I have an undergraduate degree in Mathematics and Philosophy from Boston
                        University where I also minored in computer science, and hold a master's degree in Integrated
                        Digital Media from New York University.
                    </p>
                    <p>Shortly after graduating from NYU, I founded <a href="https://www.unseenmedia.io/"
                            class="inline">Unseen Media</a> alongside
                        <a href="https://www.caseyjudge.com/" class="inline">Casey Judge</a> and <a
                            href="https://www.brianhui.me/" class="inline">Brian Hui</a> and
                        we set out to bring the latest immersive technologies to tabletop gaming. Our journey was quite
                        interesting, starting with our participation in the <a
                            href="https://entrepreneur.nyu.edu/blog/2017/10/08/nyu-prototyping-fund-announcing-prototyping-fund-fall-17-awardees/"
                            class="inline">NYU Prototyping
                            Fund</a> and the <a href="https://www.nycmedialab.org/projects-archive/xr-startup-bootcamp"
                            class="inline">RLab XR Startup
                            Bootcamp</a>, later resulting in our selection for the RLab Beta Residency, and our
                        partnership with
                        <a href="https://belunified.com/" class="inline">BEL Unified</a>.
                    </p>
                    <p>
                        As the lead developer at Unseen Media, I try to walk the cutting edge of tech as often as
                        possible while always learning and looking for ways to grow as a professional. Because of our
                        mission to level up tabletop gaming, my skill set is wide and varied but here are
                        some of the technologies I've been working with most recently:
                    </p>
                    <div class="switcher">
                        <div class="wrapper small">
                            <div class="stack">
                                <span class="accent pre">Javascript (ES6+)</span>
                                <span class="accent pre">Vue.js</span>
                                <span class="accent pre">A-frame</span>
                                <span class="accent pre">C#</span>
                            </div>
                            <div class="stack">
                                <span class="accent pre">HTML & (S)CSS</span>
                                <span class="accent pre">Node.js</span>
                                <span class="accent pre">8th Wall</span>
                                <span class="accent pre">Unity3D</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-pic stack s1">
                    {% Image "static/media/about_0.jpg", true, true, true, true %}
                </div>
            </div>
        </div>
    </div>
</section>