<section id="about" class="page-section fadeinup" data-scroll>
    <div class="stack s1">
        <h2>About Me</h2>
        <div class="switcher">
            <div class="wrapper">
                <div class="about-text stack">
                    <p>
                        I am a creative technologist turned learning scientist based in Evanston, IL who strives to
                        bring their tech expertise to the field of education. I have an undergraduate degree in
                        Mathematics and Philosophy from Boston University where I also minored in computer science, and
                        hold a master's degree in Integrated Digital Media from New York University. I am currently a
                        Ph.D. student at Northwestern University's CS+LS program and my research focuses on
                        technologically mediated learning environments for introductory design classes.
                    </p>
                    <p>
                        In this portfolio you'll find examples of my prior work as a technologist, as well as my current
                        projects as a Ph.D. student. If you see something that you like, feel free to reach out!
                    </p>
                </div>
                <div class="profile-pic stack s1">
                    {% Image "static/media/about_0.jpg", true, true, true, true %}
                </div>
            </div>
        </div>
    </div>
</section>