<section id="contact" class="page-section justify-content:center fadeinup" data-scroll>
    <div class="stack s1 align-items:center">
        <h2 class="text-align:center">Get in Touch</h2>
        <p class="text-align:center max-width:measure">I am currently looking for full-time opportunities as a
            developer, and I'm also open for freelance or contract work. I'm a versatile worker and I enjoy being part
            of multidisciplinary and multicultural teams so if you feel like I might be a good fit for your needs, don't
            hesitate to get in touch!</p>
        <div class="cluster">
            <div class="wrapper justify-content:center">
                {% Button "Email Me", "mailto:anlotsos@gmail.com" %}
            </div>
        </div>
    </div>
</section>