<section id="contact" class="page-section justify-content:center fadeinup" data-scroll>
    <div class="stack s1 align-items:center">
        <h2 class="text-align:center">Get in Touch</h2>
        <p class="text-align:center max-width:measure">I'm always looking to collaborate on interesting projects and I'm very open to research collaborations. I'm a versatile worker and I enjoy being part
            of multidisciplinary and multicultural teams so if you feel like we have something in common that we should discuss, please don't
            hesitate to get in touch!</p>
        <div class="cluster">
            <div class="wrapper justify-content:center">
                {% Button "Email Me", "mailto:alexandroslotsos2026@u.northwestern.edu" %}
            </div>
        </div>
    </div>
</section>