<footer class="footer stack s-1 align-items:center justify-content:center">
    {% include "components/social-list.njk" %}
    <h5>Site design and build by Alexandros Lotsos</h5>
    <h5>Built with ☕️, ❤️, and <a class="inline" href="https://www.11ty.dev/">11ty</a>, the simpler static site generator. </h5>
</footer>