{# <header class="navbar cluster s1">
    <div class="wrapper justify-content:space-between align-items:baseline">
        <a href="/"><div class="logo">_Alex</div></a>
        <nav class="navigation cluster s3">
            <div class="wrapper">
                <a href="/#home" class="navlink"><span class="pre">01.</span> Home</a>
                <a href="/#about" class="navlink"><span class="pre">02.</span> About</a>
                <a href="/#work" class="navlink"><span class="pre">03.</span> Work</a>
                <a href="/#contact" class="navlink"><span class="pre">04.</span> Contact</a>
            </div>
        </nav>
    </div>
</header> #}

<header class="banner-header stack s1 align-items:center text-align:center">
    <div class="stack s-1">
        <span class="h3 font-weight:bold">Alexandros Lotsos</span>
        <p>Ph.D. Student: Computer Science and Learning Science</p>
    </div>
    <nav class="navigation cluster s3">
        <div class="wrapper">
            <a href="/#home" class="navlink"><span class="pre">01.</span> Home</a>
            <a href="/#about" class="navlink"><span class="pre">02.</span> About</a>
            <a href="/#work" class="navlink"><span class="pre">03.</span> Work</a>
            <a href="/#contact" class="navlink"><span class="pre">04.</span> Contact</a>
        </div>
    </nav>
</header>