<section id="home" class="page-section cover fadeinup" data-scroll>
    <div class="stack s1">
        <div class="stack s-1">
            <span class="accent">Hello 👋 My name is</span>
            <h1> Alex Lotsos.</h1>
            <h2> I design and develop high quality web apps and websites.</h2>
        </div>
        <p class="max-width:measure"> I am a web developer, creative technologist, and STEAM educator based in New York,
            NY.
        </p>
        <div class="cluster">
            <div class="wrapper">
                {% Button "My Work", "#work" %}
                {% Button "My Resume", "/_includes/assets/docs/Lotsos_Resume_Spring-2019_Public.pdf", true %}
            </div>
        </div>
    </div>
</section>