<section id="home" class="page-section cover fadeinup" data-scroll>
    <div class="stack s1">
        <div class="stack s-1">
            <span class="accent">Hello 👋 My name is</span>
            <h1> Alex Lotsos.</h1>
            <h2> I design and develop high quality educational media and technology</h2>
        </div>
        <p class="max-width:measure"> I am currently a Ph.D. student at <a class="inline"
                href="https://csls.sesp.northwestern.edu/">Northwestern University's CS+LS program</a> and my
            research focuses on technologically mediated learning environments for introductory design classes.
        </p>
        <div class="cluster">
            <div class="wrapper">
                {% Button "My Work", "#work" %}
                {% Button "My CV", "/_includes/assets/docs/Lotsos_CV_Fall-2021.pdf", true %}
            </div>
        </div>
    </div>
</section>