<header class="navbar cluster s1">
    <div class="wrapper justify-content:space-between align-items:baseline">
        <a href="/"><div class="logo">_Alex</div></a>
        <nav class="navigation cluster s3">
            <div class="wrapper">
                <a href="/#home" class="navlink"><span class="pre">01.</span> Home</a>
                <a href="/#about" class="navlink"><span class="pre">02.</span> About</a>
                <a href="/#work" class="navlink"><span class="pre">03.</span> Work</a>
                <a href="/#contact" class="navlink"><span class="pre">04.</span> Contact</a>
            </div>
        </nav>
    </div>
</header>