<div class="social cluster s1">
    <div class="wrapper justify-content:center">
        {# icons here #}
        {%- for socialMedia in metadata.social -%}
        <a href="{{ socialMedia.href }}">
            <ion-icon name="{{ socialMedia.iconName }}" size="large"></ion-icon>
        </a>
        {%- endfor -%}
    </div>
</div>