<section id="home" class="page-section cover fadeinup" data-scroll>
    <div class="stack s1">
        <div class="stack s-1">
            <span class="accent">Hello 👋</span>
            <h1> I'm currently revamping my portfolio.</h1>
            <h2> In the meantime, stay social!</h2>
        </div>
        {% include "components/social-list.njk" %}
        <div class="cluster">
            <div class="wrapper">
                {% Button "My CV", "/_includes/assets/docs/Lotsos_CV_Fall-2021.pdf" %}
            </div>
        </div>
    </div>
</section>