<section id="work" class="page-section" data-scroll>
    <div class="stack s1">
        <h2>My Work</h2>
        {% include "components/filter-list.njk" %}
        {% include "components/project-grid.njk" %}
    </div>
</section>