<section id="work" class="page-section">
    <div class="stack s1">
        <h2 class="fadeinup" data-scroll>My Work</h2>
        {% include "components/filter-list.njk" %}
        {% include "components/project-grid.njk" %}
    </div>
</section>