---
layout: /layouts/base.njk
permalink: "/"
tags: pages
---

{# {% include "components/home.njk" %} #}
{% include "components/about.njk" %}
{% include "components/work.njk" %}
{% include "components/contact.njk" %}

{#{% include "components/under-construction.njk"%}#}