---
layout: /layouts/base.njk
permalink: "/"
tags: pages
---
<section class="page-section text-align:center">
    <div class="stack s2 fadeinup">
        <h1>Hey there &#128075;</h1>
        <h2>I'm currently revamping my portfolio.</h2>
        <h4>Stay tuned for a new look and in the meantime, feel free to say hello!</h4>
        {% include "components/social-list.njk" %}
    </div>
</section>