// [data-scroll] {
//   position: relative;
//   opacity: 0;
//   transform: translate3d(0, 20px, 0);
//   transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
// }

// [data-scroll]:nth-child(odd) {
//   transform: translate3d(0, 20px, 0);
// }

// [data-scroll="in"],
// [data-scroll="in"]:nth-child(odd) {
//   transform: translate3d(0, 0, 0);
//   opacity: 1;
// }

[data-scroll] {
  position: relative;

  &.fadeinup {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }

  &.fadein {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
}

[data-scroll="in"] {
  &.fadeinup {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &.fadein {
    opacity: 1;
  }
}
